html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fafafa;
  /* Subtle contrast for the "card" look */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}