.container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}



.divider {
  width: 1px;
  height: 20px;
  background: #eee;
  margin: 0 4px;
}

@media print {
  .container {
    display: none !important;
  }
}